table {
    background-color: #f1eeec;
    border-style: none;
    width: 100%;

}

table td {
    margin: 5px;
    text-align: center;
    font-size: 17px;
}

table thead td {
    background-image: linear-gradient(to left,#33aaac ,#1c1f4c );
    color: ghostwhite;
}

table tr:hover{
    background-color: ghostwhite;
}

body{
    font-family: garamond;
    
    color:#243763
}

h2{
    color: #1c1f4c;
    margin-left: 10px;

}
