table {
    background-color: #f1eeec;
    border-style: none;
    width: 100%;

}

table td {
    margin: 5px;
    text-align: center;
}

table thead td {
    background-image: linear-gradient(to left,#33aaac ,#1c1f4c );
    color: ghostwhite;
    background-color: #243763;

}

table td:hover{
    background-color: ghostwhite;
}

body{
    font-family: garamond;
    color:#243763
}

h2{
    color: ghostwhite;
    background-image: linear-gradient(to right, #1c1f4c, #33aaac);
    margin-left: 7px;
    padding:0px;
    font-weight: bold;
    border-radius: 15px;
    display: block;
    padding: 5px;

}
.grad1{
    background-image: linear-gradient(to right, #1c1f4c, #33aaac);
    width: 320px;
    height: 30px;
}

