<!DOCTYPE html>

<html>
    {% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "shortcut icon" type = "x-icon" href = "{% static 'Icon.png' %}">
        <link rel = "stylesheet" href = "{% static 'css/NavBar&BG.css' %}">
        <link rel = "stylesheet" href = "{% static 'css/AssignDep.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src = "{% static 'js/AssignDep.js' %}"></script>
        
    </head>
    <body>
        <nav>
            <div>
                <div><a href="{% url 'homepage:homepage' %}"><img class="logo" src="{% static 'Logo.png' %}"></a></div>
            </div>
            <ul>
                <li><a href="{% url 'homepage:homepage' %}">HOME</a></li>
                <li><a href="{% url 'add:add' %}">ADD STUDENT</a></li>
                <li><a href="{% url 'update_delete:updatedelete' %}">UPDATE/DELETE</a></li>
                <li><a href="{% url 'searchactive:search' %}">SEARCH FOR ACT STDs</a></li>
                <li><a href="{% url 'assigndep:assigndep' %}">ASSIGN DEP</a></li>
                <li><a href="{% url 'view_in_active:viewin_active' %}">VIEW ACT/INACT STDs</a></li>
                <li><a href="{% url 'changestatus:changestatus' %}">CHANGE STATUS</a></li>
            </ul>
        </nav>
        <div class = "container1">
            <div>
                <h2 class = "grad1">Assign Department</h2>
                <p class = "grad2">Enter the Student's Information:</p>
                <div id = "successMessages"></div>
                <form id = "assignForm">
                    {% csrf_token %}
                    <div>
                        <label>ID</label>
                        <input id = "ID" type = "number" name = "ID" required>
    
                    </div>
                    <div>
                        <label>Department</label>
                        <select id = "dep" name = "Department" required>
                            <option value = "" selected>--Choose a Department--</option>
                            <option value = "IS">IS</option>
                            <option value = "CS">CS</option>
                            <option value = "IT">IT</option>
                            <option value = "DS">DS</option>
                            <option value = "AI">AI</option>
                        </select>
                    </div>
                    <br>
                    <button class = "sub" type = "submit">Assign</button>
                    <button class = "res" type = "reset">Reset</button>
                </form>
            </div>
        </div>
        <br><br>
        <p class = "copyright">Copyright &copy; 2023 Student Affairs.</p>
    </body>
</html>