{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "shortcut icon" type = "x-icon" href = "{% static 'Icon.png' %}">
        <link rel = "stylesheet" href = "{% static 'css/NavBar&BG.css' %}">
        <link rel="stylesheet" href="{% static 'css/SearchAct.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'js/SearchAct.js' %}"></script>
    </head>
    <body>
        <nav>
            <div>
                <div><a href="{% url 'homepage:homepage' %}"><img class="logo" src="{% static 'Logo.png' %}"></a></div>
            </div>
            <ul>
                <li><a href="{% url 'homepage:homepage' %}">HOME</a></li>
                <li><a href="{% url 'add:add' %}">ADD STUDENT</a></li>
                <li><a href="{% url 'update_delete:updatedelete' %}">UPDATE/DELETE</a></li>
                <li><a href="{% url 'searchactive:search' %}">SEARCH FOR ACT STDs</a></li>
                <li><a href="{% url 'assigndep:assigndep' %}">ASSIGN DEP</a></li>
                <li><a href="{% url 'view_in_active:viewin_active' %}">VIEW ACT/INACT STDs</a></li>
                <li><a href="{% url 'changestatus:changestatus' %}">CHANGE STATUS</a></li>
            </ul>
        </nav>
        <h2>Search For Active Students</h2>
        <form id="search-form" method="get">
            {% csrf_token %}
            <div>
              <label for="name">Enter the Keyword to Search:</label>
              <input type="text" id="name" name="name">
            </div>
            <input type="submit" value="Search">
        </form>
        <div id="result">
            <table>
                <thead id="result-head"></thead>
                <tbody id="result-body"></tbody>
            </table>
            <p id="notfound"></p>
        </div> 
    </body>
    <footer>
        <p class = "copyright">Copyright &copy; 2023  Student Affairs.</p>
    </footer>
</html>