{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "shortcut icon" type = "x-icon" href = "{% static 'Icon.png' %}">
		<link rel = "stylesheet" href = "{% static 'css/LogIn.css' %}">
    </head>
    <body>
        <h1>Welcome to Student Affairs</h1>
        <br>
        <h2>LOG IN</h2>
		<div class = "container1">
			<form id="loginForm" action="{% url 'login' %}" method="post">
                {% csrf_token %}
				<label>Email</label>
				<input id="email" type="email" placeholder="ID@studaff.uni.edu.eg" name="email" required>
				<label>Password</label>
				<input id="pass" type="password" name="password" required >
                {% for msg in error_message %}
                    <div role="alert" style="color:rgb(182, 16, 16);font-size: 20x;font-weight: bold;font-family: garamond;">
                        {{ msg }}
                    </div>
                {% endfor %}  
                <button id = "login" type="submit" >Log In</button>
			</form>
		</div>
        <br><br><br>
    </body>
</html>