{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel = "shortcut icon" type = "image/x-icon" href = "{% static 'Icon.png' %}">
        <link rel = "stylesheet" href = "{% static 'css/NavBar&BG.css'%}">
        <link rel = "stylesheet" href = "{% static 'css/Update&Delete.css'%}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="{% static 'js/Update&Delete.js'%}"></script>
    </head>
    <body>
        <nav>
            <div>
                <div><a href="{% url 'homepage:homepage' %}"><img class="logo" src="{% static 'Logo.png' %}"></a></div>
            </div>
            <ul>
                <li><a href="{% url 'homepage:homepage' %}">HOME</a></li>
                <li><a href="{% url 'add:addstudent' %}">ADD STUDENT</a></li>
                <li><a href="{% url 'update_delete:updatedelete' %}">UPDATE/DELETE</a></li>
                <li><a href="{% url 'searchactive:search' %}">SEARCH FOR ACT STDs</a></li>
                <li><a href="{% url 'assigndep:assigndep' %}">ASSIGN DEP</a></li>
                <li><a href="{% url 'view_in_active:viewin_active' %}">VIEW ACT/INACT STDs</a></li>
                <li><a href="{% url 'changestatus:changestatus' %}">CHANGE STATUS</a></li>
            </ul>
        </nav>
        <div class = "container1" id="update-container">    
            <div>
                <h2 class = "grad1">Update Student's Information</h2>
                <p class = "grad2">Enter the new information of the student:</p>
                <div id = "Messages"></div>
                <form id="update_form" method="post">
                    {% csrf_token %}
                    <div>
                      <label for="ID">ID</label>
                      <input id="ID" type="number" name="id" required >
                    </div>
                    
                    <div>
                      <label for="Name">Name</label>
                      <input id="Name" type="text" name="name">
                    </div>
                    
                    <div>
                      <label for="gpa">GPA</label>
                      <input id="gpa" type="text" name="gpa">
                    </div>
                    
                    <div>
                      <label for="phone">Phone Number</label>
                      <input id="phone" type="tel" name="phone" pattern="01[0-9]{9}" placeholder="01#########" >
                    </div>
                    
                    <div>
                      <label for="date">Date of Birth</label>
                      <input id="date" type="date" name="date">
                    </div>
                    
                    <div>
                      <label for="level">Level</label>
                      <select id="level" name="level">
                        <option value="">-- Choose Level --</option>
                        <option value="1">Level 1</option>
                        <option value="2">Level 2</option>
                        <option value="3">Level 3</option>
                        <option value="4">Level 4</option>
                      </select>
                    </div>
                    
                    <div>
                      <label for="gender">Gender</label>
                      <select id="gender" name="gender">
                        <option value="" selected>-- Choose Gender --</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                      </select>
                    </div>
                    
                    <div>
                      <label for="status">Status</label>
                      <select id="status" name="status">
                        <option value="" selected>-- Choose Activeness --</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                      </select>
                    </div>
                    <button class="sub" type="submit">Update</button>
                    <button class="res" type="reset">Reset</button>
                  </form>
            </div>
        </div>
        <br><br>
        <div class = "container2" id="delete-container">
            <div>
                <h2 class = "grad3">Delete Student's Information</h2>
                <p class = "grad4">Enter the information of student to delete:</p>
                <form id = "delete_form">
                  <div id = "Messages2"></div>
                  {% csrf_token %}
                  <div>
                      <label  for="ID">ID</label>
                      <input id = "ID2" type="number" name="id2" required>
                  </div>   
                  <button class = "sub" type="submit">Delete</button>    
                  <button class = "res" type="reset">Reset</button>
                </form>
            </div> 
        </div>
        <p class = "copyright">Copyright &copy; 2023  Student Affairs.</p>
        
    </body>
</html>