table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    font-size: 17px;
}
    
th {
    text-align: left;
    background-image: linear-gradient(to right, #1c1f4c, #33aaac);
    padding: 8px;
    color: #ffffff;
    font-family: garamond;
    font-weight: bold;
}

td {
    border-bottom: 1px solid #ddd;
    color: #1c1f4c;
    padding: 8px;
    font-family: garamond;
    font-weight: bold;
}

tr:hover {
background-color: #f2f2f2;
}

body{
    font-family: garamond;
    color:#243763
}

h2{
    color:#243763;
    margin-left: 10px;

}

h2.header{
    background-image: linear-gradient(to left,#33aaac ,#1c1f4c );
    color: ghostwhite;
    width:320px;
    border-radius: 15px;
    padding:5px;
    height:30px;
    margin-left: 5px;;

}