<!DOCTYPE html>

<html>
    {% load static %}
    <head>
        <link rel = "shortcut icon" type = "x-icon" href = "{% static 'images/Icon.png' %}">
        <link rel = "stylesheet" href = "{% static 'css/NavBar&BG.css' %}">
        <link rel = "stylesheet" href = "{% static 'css/HomePageSA.css' %}">
    </head>
    <body>
        <nav>
            <div>
                <div><a href = ""><img class = "logo" src = "{% static 'images/Logo.png' %}"></a></div>
            </div>
            <ul>
                <li><a href = "" target = "_blank">HOME</a></li>
                <li><a href = "AddStudent.html" target = "_blank">ADD STUDENT</a></li>
                <li><a href = "Update&Delete.html" target = "_blank">UPDATE/DELETE</a></li>
                <li><a href = "SearchAct.html"target = "_blank">SEARCH FOR ACT STDs</a></li>
                <li><a href = "AssignDep/" target = "_blank">ASSIGN DEP</a></li>
                <li><a href = "View_Act_Inact.html"target = "_blank">VIEW ACT/INACT STDs</a></li>
                <li><a href = "ChangeStatus.html"target = "_blank">CHANGE STATUS</a></li>
            </ul>
        </nav>
        <img src="{% static 'images/1.png' %}">
        <img src="{% static 'images/2.png' %}">
        <img src="{% static 'images/3.png' %}">
        <img src="{% static 'images/4.png' %}">
        <img src="{% static 'images/5.png' %}">

        <!--<p>This site has been providing student affairs professionals with all the resources they need to effectively offer services<br> and support to enhance student growth and development. This site is specifically for students from Qatar university.<br> Each student will receive his mail from affairs staff after they organize those things. Only affairs staff can access <br>the navigation of "view all active/inactive students". Students can update, delete his information and select their <br>major any time. Be careful with dealing with delete section because data deleted won't be easy to be accessed again.</p>-->
        <footer>
            <p class = "copyright">Copyright &copy; 2023 Student Affairs</p>
        </footer>
    </body>
</html>